@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    background-color: rgb(42, 58, 138);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.btn {
    padding: 12px 6px; 
    width: 240px;
    background-color: green; 
    border: 1px solid black; 
    font-size: 20px; 
    border-radius: 4px;
    margin: 75px 12px 0px 12px;
    cursor: pointer;
    transition: all 200ms;
}

.eraser {
    background-color: white;
}

#btn-Container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.btn:hover {
    transform: scale(1.03);
}

.Grid {
    position: relative;
    width: 600px; 
    height: 600px; 
    border: 3px solid #252323;
    border-radius: 5px;
    background-color: white;
    display: grid;
}

.ColorGenerator {
    padding: 10px 0px;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ColorChange {
    margin-top: 30px;
    width: 65px;
    height: 65px;
    overflow: hidden;
    color: white;
    background-color: #631cc0;
    border-radius: 50px;
    border: 2px solid #f1f1f1;
}

.settings {
    background-color: #252323;
    border-radius: 4px;
    width: 300px;
    height: 600px;
}

#footer {
    text-align: center;
    background-color: rgb(153, 221, 71);
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 18px;
    display: block;
}
